*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Core Styles */


body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3, h4{
    margin: 0;
    padding: 1em;
}

p{
    margin: 0;
    padding: 1em;
}

/* Header Styles */


/* Top Nav Styles */

.top-nav{
    background-color: #292929;
    color: #fff;
    font-size: 1em;
}

.container-topNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
}

.welcome-note{
    width: 50%;
    margin: 20px;
    padding: auto;
    word-spacing: 1px;
}

.welcome-note span{
    color: #ffaf02;
}

div.login-signup{
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
}

div.login-signup p{
    padding: 0;
}

.login-signup a{
    text-decoration: none;
    color: #fff;
}

.login-signup a:hover{
    color: #ffaf02;
}

/* Main Nav Styles */

.main-nav{
    background-color: transparent;
    font-size: 1.1em;
}

.main-nav .container-mainNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}

.navigation{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.nav-links{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav-links li{
    list-style-type: none;
}

.nav-links a{
    text-decoration: none;
    color: #333;
}

.nav-links a:hover{
    color: #ffaf02;
}


/* Main Area */

/* Banner Image */

#main{
    width: 100%;
    height: auto;
}

 #section-1{
     display: grid;
     grid-template-areas: 
                        "a b"
                        "c c";
     justify-content: space-evenly;
     align-items: center;
    background: linear-gradient(to right, #0d104d, #28408b);
    width: 100%;
    height: auto;
}

.banner-img-wrappr{
    grid-area: a;
}

.banner-img{
    background: url('./Assets/bg-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400px;
    width: 500px;
    height: 400px;
    padding: 50px;
}

.content-area{
    grid-area: b;
    padding: 1em;
}

.content-area .content-title h3{
    font-size: 4em;
    color: #fff;
    padding: 1em;
}

.content-area .content-title h3 span{
    color: #ffaf02;
}

.content-text p{
    text-align: left;
    font-size: 1.5em;
    color: #fff;
    padding: 0 1em;
}

.read-moreBtn{
    grid-area: c;
}

.read-btn{
    color: #000;
    text-transform: uppercase;
    margin: 50px 170px;
    padding: 20px;
    background-color: antiquewhite;
    width: 150px;
    border-bottom: 4px solid #ffaf02;
    text-decoration: none;
    text-align: center;
    padding: 1em;
}

.read-btn:hover{
    background-color: #333;
    color: #fff;
}


/* Section 2 */

#section-2{
    background-color: transparent;
}

#section-2 h4{
    text-align: center;
    font-size: 2.5em;
    padding: 1em;
}

#section-2 p{
    text-align: center;
    color: #333;
    font-size: 1.3em;
    padding: 0 10em;
    margin: 1em;
}

/* Section 3 */

/* cards */

.card-containter{
    display: grid;
    grid-template-areas: 
                "X X X X"
                "A B C D"
    ;
    grid-column-gap: 1em;
    width: 100%;
    height: auto;


}



.card{
    background-color: #eef3f6;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    grid-column-gap: 10px;
}

.card-text{
    color: #8e8e8e;
    font-size: 1.1em;
}

.card:hover{
    color: #fff;
    background-color: #ffaf02;
    transition: ease-in 0.3s;
}

.card-title:hover{
    color: #fff;
}

.card-text:hover{
    color: #fff;
}

.card-read-btn{
    display: inline-block;
  background-color: #fff;  
  width: 120px;
  height: 50px;
  text-align: center;
  padding: 1em;
  margin: 1.5em 1em;
  text-decoration: none;
  font-size: 1.1em;
  color: #000;
  border-bottom: 3px solid #ffaf02;
}

.card-read-btn:hover{
    background-color: #333;
    color: #fff;
    border-bottom: 3px solid #fff;
}


.card-title{
    grid-area: X;
}

.card-a{
    grid-area: A;
}

.card-b{
    grid-area: B;
}

.card-c{
    grid-area: C;
}

.card-d{
    grid-area: D;
}

.card-title{
    text-align: center;
    font-size: 1em;
    text-transform: capitalize;
    line-height: 1.7em;
}


/* Packages */

.plans{
    margin: 90px 0;
    display: block;
    background-color: #fff;
}

.plans-section-title{
    text-align: center;
    font-size: 1.3em;
    margin: 2em;
}

.plans-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.pln{
    background-color: #eef3f6;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}


.plans-title > h3{
    text-align: center;
    font-size: 1.9em;
    margin: 10px;
}

.plans-info{
    padding: 10px;
    border-top: 1px solid black;
    border-radius: 7px;
    background-color: #ffaf02;
}


.plans-info > h4{
    font-size: 1.5em;
    text-align: center;
}

.plans-info > h6{
    font-size: 1.1em;
    text-align: center;
}


.plans-btn {
    background-color: antiquewhite;
    width: 110px;
    margin: 40px auto;
    padding: 20px;
    border-bottom: 3px solid #333;
    text-align: center;
}


.plans-btn > a{
    text-decoration: none;
    font-size: 17px;
    color: #000;
}


/* Section 4 */

#section-4{
    background-color: transparent;
    display: grid;
    grid-template-areas: 
                    "a b";
}

.section-img img{
    grid-area: a;
    background-color: transparent;
    width: 500px;
    height: auto;
}


.section-title h4{
    font-size: 1.8em;
    font-weight: 100;
}

.section-text{
    grid-area: b;
    padding: 0.8em 2em;
    font-size: 1.4em;
}


.section-title span{
    font-weight: 900;
}


/* Footer */
.main-footer{
    display: flex;
    background-color: #333;
    color: #fff;
    width: 100%;
}

.copy{
    flex: 50%;
    text-align: center;
    margin: auto;
}

.contact{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/* Mobile view */

/* Lareg tablets */


@media only screen and (max-width: 1050px) {
    div.login-signup{
        width: 15%;
    }   

     .login > a{
        margin: 10px;
    }

    .read-btn{
        margin: 0 150px 20px 150px;
    }

    .plans-container{
        flex-direction: column;
    }

    .pln{
        margin: 20px 0;
    }


}

/* Medium Tablets */

@media only screen and (max-width: 950px){
    #section-1{
        width: 100%;
        overflow: hidden;
    }

    #section-3{
        box-sizing: border-box;
        width: 100%;
        padding: 1em;
    }
}

/* Small tablet */

@media only screen and (max-width: 750px){
    .top-nav{
        height: 100px;
        padding: 1.5em;
        text-align: center;
    }

    div.login-signup{
        width: auto;
    }

    .main-nav .container-mainNav{
        display: flex;
        flex-direction: column;
        height: 100px;
    }

    .navigation{
        display: flex;
        flex-direction: column !important;
        width: 70%;
    }

    .nav-links{
        justify-content: space-between;
    }

    #section-1{
        grid-template-areas: "b c"
                             "a a";
    }


    .card-containter{
       grid-template-areas: "X"
                            "X"
                            "X"
                            "X"
                            "A"
                            "B"
                            "C"
                            "D"
        ;
        width: 100%;
    }

    .card{
        width: 95%;
        margin: 50px auto;
    }

    #section-4{
        grid-template-areas: "a"
                             "b";
    }
    

    .section-img img{
        width: 90%;
    }

}


/* Large size phones */


@media only screen and (max-width: 700px){
    


    .navigation{
        width: 90%;
    }

    #section-1{
        grid-template-areas: "b b"
                             "c c"
                             "a a";
    }

    .content-area .content-title h3{
        text-align: start;
        font-size: 2.5em;
    }

    .read-btn{
        margin-left: 40px;
        margin-bottom: 20px;
    }

    .content-text p{
        line-height: 1.5em;
        font-size: 1.5em;
        text-align: start;
        width: 100%;
        margin: 25px;
        padding: 0;
    }

    #section-2 h4{
        text-align: start;
    }

    #section-2 p{
        padding: 7px;
        text-align: start;
        font-size: 1.2em;
    }

    .card-text p{
        font-size: 1.5em;
    }

    .section-img img{
        width: 100%;
    }

    .section-title{
        padding: 0;
    }

    .section-text{
        font-size: 1.1em;
    }
}


/* Small phones */
@media only screen and (max-width: 414px){
    .navigation{
        width: 100%;
        padding: 1px;
    }

    div.login-signup{
        width: 50%;
    }

    .content-area{
        padding: 0;
        box-sizing: border-box;
    }

    .banner-img{
        background-size: 300px;
    }
    
    .content-area .content-title h3{
        padding: 10px;
        margin: 70px;
    }


    .content-text p{
        max-width: 450px;
        box-sizing: border-box;
        margin: 50px;
        padding: 20px;
    }

    .read-btn{
        margin-left: 100px;
    }

    .main-footer{
        flex-direction: column;
    }



    .content-text{
        justify-content: center;
        margin: 80px;
        font-size: 1em;
        width: 50%;
    }

    .content-text p{
        width: 100%;
        text-align: center;
    }

    .read-btn{
        width: auto;
        margin-left: 173px;
    }


    
    .main-footer{
        flex-direction: column;
    }
}
        



@media only screen and (max-width: 360px){
    .navigation{
        width: 100%;
        padding: 1px;
    }

    div.login-signup{
        width: 50%;
    }

    .content-area{
        padding: 0;
        box-sizing: border-box;
    }

    .banner-img{
        background-size: 300px;
    }
    
    .content-area .content-title h3{
        padding: 10px;
        margin: 70px;
    }


    .content-text p{
        max-width: 450px;
        box-sizing: border-box;
        margin: 50px;
        padding: 20px;
    }

    .read-btn{
        margin-left: 100px;
    }

    .main-footer{
        flex-direction: column;
    }
}



@media only screen and (max-width: 375px){
    .navigation{
        width: 100%;
        padding: 1px;
    }

    div.login-signup{
        width: 50%;
    }

    .content-area{
        padding: 0;
        box-sizing: border-box;
    }

    .banner-img{
        background-size: 300px;
    }
    
    .content-area .content-title h3{
        padding: 10px;
        margin: 70px;
    }


    .content-text p{
        max-width: 450px;
        box-sizing: border-box;
        margin: 50px;
        padding: 10px;
    }

    .read-btn{
        margin-left: 200px;
        padding: 10px;
    }

    .main-footer{
        flex-direction: column;
    }
}



@media only screen and (max-width: 300px){
    .navigation{
        width: 100%;
    }
    

    div.login-signup{
        width: 50%;
        font-size: 13px;
    }

    .content-area{
        padding: 0;
        box-sizing: border-box;
    }

    .banner-img{
        background-size: 300px;
    }
    
    .content-area .content-title h3{
        text-align: center;
        margin-left: 70px;
        font-size: 2em;
    }
}